.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;

  &.active {
    background-color: white;
    color: black;

    button {
      background-color: white !important;
      color: #1dbf73 !important;
      border: 1px solid #1dbf73 !important;
    }
  }

  .container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    .logo {
      font-size: 34px;
      font-weight: bold;

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .stereo {
          font-size: 14px;
        }
      }

      .dot {
        font-weight: bold;
        color: #1dbf73;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      span {
        white-space: nowrap;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: gray;
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }

  .menu {
    width: 1400px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }
}
.navbar-mobile {
  display: none;
}

#side-bar {
  display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.5s all ease;
    padding: 0.7rem 0.5rem 0.7rem 2rem;
    background-color: white;
    align-items: center;
    img {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
    .logo {
      font-size: 25px;
      font-weight: bold;
      margin-left: 2rem;
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #013914;

        .stereo {
          font-size: 14px;
        }
      }
    }

    button {
      background-color: white !important;
      color: #1dbf73 !important;
      border: 1px solid #1dbf73 !important;
      padding: 0.5rem 2rem;
      cursor: pointer;
    }
  }

  #side-bar {
    z-index: 1000;
    height: 900px;
    width: 250px;
    background-color: #f3f3f3;
    position: absolute;
    left: -1000px;
    top: 0;
    display: block;
    .container {
      position: relative;
      padding: 1rem 2rem;
      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 2rem;
      }
      .content {
        margin-top: 5rem;
        .link {
          display: block;
          padding: 0.5rem 0rem;
        }
        button {
          border: 1px solid #1dbf73 !important;
          background-color: #1dbf73;
          color: white;
          padding: 0.5rem 2rem;
          cursor: pointer;
        }
      }
      .menu {
        button {
          background-color: transparent;
          color: black;
          border: 0px !important;
        }
      }
    }
  }
  .options {
    border: 0.1rem solid #f3f3f3;
    padding: 0.5rem;
    position: absolute;
    background-color: white;
    right: 2rem;
    .link {
      color: black;
      display: block;
      padding: 0.2rem 0rem;
      font-size: 12px;
    }
  }
  .active {
    left: 0px !important;
    transition: 0.5s all ease;
  }

  .de-active {
    left: -1000px !important;
    transition: 0.5s all ease;
  }
}
